USE [master]
GO
/****** Object:  Database [CAYQD]    Script Date: 11/26/2017 10:42:40 AM ******/
CREATE DATABASE [CAYQD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CAYQD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CAYQD.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CAYQD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\CAYQD_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CAYQD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CAYQD]
GO
/****** Object:  Table [dbo].[CAUHOI]    Script Date: 11/26/2017 10:42:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUHOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUHOI] [nvarchar](500) NOT NULL,
	[LANUTGOC] [bit] NULL CONSTRAINT [DF_CAUHOI_LANUTGOC]  DEFAULT ((0)),
	[ID_CAUTRALOI] [int] NULL,
 CONSTRAINT [PK_CAUHOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CAUTRALOI]    Script Date: 11/26/2017 10:42:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAUTRALOI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CAUTRALOI] [nvarchar](500) NOT NULL,
	[ID_CAUHOI] [int] NOT NULL,
	[IS_NUTLA] [bit] NOT NULL CONSTRAINT [DF_CAUTRALOI_IS_NUTLA]  DEFAULT ((0)),
	[ID_NGANHHOC] [int] NULL,
 CONSTRAINT [PK_CAUTRALOI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOG]    Script Date: 11/26/2017 10:42:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOG](
	[ID] [int] NOT NULL,
	[NGAYGIO] [date] NULL,
	[NGUOITHAMGIA] [nvarchar](500) NULL,
	[DIACHI] [nvarchar](500) NULL,
	[GHICHU] [nvarchar](500) NULL,
	[TENDN] [nvarchar](500) NULL,
	[MATKHAU] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANHHOC]    Script Date: 11/26/2017 10:42:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANHHOC](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TENNGANH] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_NGANHHOC] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CAUHOI] ON 

INSERT [dbo].[CAUHOI] ([ID], [CAUHOI], [LANUTGOC], [ID_CAUTRALOI]) VALUES (1, N'Bạn có tính cách như thế nào ?', 1, NULL)
INSERT [dbo].[CAUHOI] ([ID], [CAUHOI], [LANUTGOC], [ID_CAUTRALOI]) VALUES (2, N'Trong môi trường làm việc áp lực bạn muốn là ?', 0, 1)
INSERT [dbo].[CAUHOI] ([ID], [CAUHOI], [LANUTGOC], [ID_CAUTRALOI]) VALUES (3, N'Bạn muốn chọn ngành nghề theo hướng nào ?', 0, 3)
SET IDENTITY_INSERT [dbo].[CAUHOI] OFF
SET IDENTITY_INSERT [dbo].[CAUTRALOI] ON 

INSERT [dbo].[CAUTRALOI] ([ID], [CAUTRALOI], [ID_CAUHOI], [IS_NUTLA], [ID_NGANHHOC]) VALUES (1, N'Nhạy bén , có tính sáng tạo ', 1, 0, NULL)
INSERT [dbo].[CAUTRALOI] ([ID], [CAUTRALOI], [ID_CAUHOI], [IS_NUTLA], [ID_NGANHHOC]) VALUES (2, N'Không thích cầu kỳ , phức tạp ', 1, 0, NULL)
INSERT [dbo].[CAUTRALOI] ([ID], [CAUTRALOI], [ID_CAUHOI], [IS_NUTLA], [ID_NGANHHOC]) VALUES (3, N'Làm việc theo nhóm', 2, 0, NULL)
SET IDENTITY_INSERT [dbo].[CAUTRALOI] OFF
SET IDENTITY_INSERT [dbo].[NGANHHOC] ON 

INSERT [dbo].[NGANHHOC] ([ID], [TENNGANH]) VALUES (1, N'<a href="tttnsuachua.aspx">Sửa chữa máy tính</a>')
INSERT [dbo].[NGANHHOC] ([ID], [TENNGANH]) VALUES (2, N'<a href="tttncokhichetao.aspx">Cơ khí chế tạo</a>')
INSERT [dbo].[NGANHHOC] ([ID], [TENNGANH]) VALUES (3, N'<a href="tttnsuachua.aspx">Sửa chữa máy tính</a>')
SET IDENTITY_INSERT [dbo].[NGANHHOC] OFF
ALTER TABLE [dbo].[CAUHOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUHOI_VTRI] FOREIGN KEY([ID_CAUTRALOI])
REFERENCES [dbo].[CAUTRALOI] ([ID])
GO
ALTER TABLE [dbo].[CAUHOI] CHECK CONSTRAINT [FK_CAUHOI_VTRI]
GO
ALTER TABLE [dbo].[CAUTRALOI]  WITH CHECK ADD  CONSTRAINT [FK_CAUTRALOI_NGANHHOC] FOREIGN KEY([ID_NGANHHOC])
REFERENCES [dbo].[NGANHHOC] ([ID])
GO
ALTER TABLE [dbo].[CAUTRALOI] CHECK CONSTRAINT [FK_CAUTRALOI_NGANHHOC]
GO
USE [master]
GO
